tests/data/*
tests/output/*
tests/resources/*
tests/tmp/*
.idea
docker_build.log
.Rproj.user
.Rhistory
hermes_docker.Rproj
.DS_Store

!tests/resources/README.txt
!tests/resources/make_chain.sh
!tests/resources/make_dbsnp.sh
!tests/resources/make_fasta.sh
!tests/resources/make_afreq.R
